@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ededed;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}